<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>HMS Documentation</title>
    </head>
    <body>
        <h1 class="text-center">Documentation</h1>
        <div class="container">
            <ul>
                <li>Patient</li>
                    <ol>
                        <li>Create account</li>
                        <li>Update own account</li>
                        <li>Diactivate own account</li>
                        <li>View own account</li>
                        <li>Get appintment</li>
                        <li>View bill</li>
                        <li>View doctor list</li>
                        <li>View medical history</li>
                    </ol>
                <li>Admin</li>
                    <ol>
                        <li>Create account for all staff</li>
                        <li>View all accounts</li>
                        <li>Update all accounts</li>
                        <li>Diactivate all accounts</li>
                        <li>View own account</li>
                        <li>Approve new account</li>
                        <li>Approve appintment</li>
                        <li>View statistics</li>
                        <li>Prepare bill</li>
                    </ol>
                <li>Doctor</li>
                    <ol>
                        <li>Update own account</li>
                        <li>Add new qulification</li>
                        <li>Update - Delete own qulification</li>
                        <li>View own account</li>
                        <li>View patient info</li>
                        <li>Add precription for patient</li>
                        <li>View medical history</li>
                    </ol>
                <li>Nurse</li> 
                    <ol>
                        <li>Update own account</li>
                        <li>Add new qulification</li>
                        <li>Update - Delete own qulification</li>
                        <li>View own account</li>
                        <li>View patient info</li>
                        <li>physical consultation</li>
                    </ol>
            </ul>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>